{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function (){
            var codeField = document.querySelector('.code-field');
            var typeField = document.querySelector('#book_id')

            function toggleCodeField(){
                if (typeField.value === '1x'){
                    codeField.disabled = false;
                    codeField.required = true;
                }
                else{
                    codeField.disabled = true;
                    codeField.required = false;
                }
            }

            toggleCodeField();

            typeField.addEventListener('change', function (){
                toggleCodeField();
            })
        })
    </script>
{% endblock %}